body {
	background: rgb(0, 0, 0);
}

.postcard {
	background: white;
	width: 494px;
	height: 324px;
	margin: auto;
	border-bottom: 500px;
	border-top: 500px;
	border-left: 500px;
	border-right: 500px;
	border: blueviolet;
}
.postcard-header {
	display: flex;

	justify-content: space-between;
}
h1 {
	font-weight: bold;
	margin: 8px;
	font-size: medium;
	width: 200px;
	padding-top: 33px;
	padding-left: 50px;
}

.postcard-body {
	display: flex;
	font-family: "Shadows Into Light", cursive;
}

.postcard-footer {
	text-align: center;
	padding: 0px;
	background: darkgrey;
}

.image-icon {
	width: 50px;
	height: 50px;
	padding-top: 13px;
	padding-right: 50px;
	padding-bottom: 20px;
}

.body-left {
	padding-left: 30px;
	padding-right: 30px;
}

.body-right {
	padding-right: 20px;
	padding-top: 30px;
}
